body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: 'Baloo Paaji 2', cursive, "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    @media screen and (max-width: 600px) {
        #map-container {
            flex-direction: column;
            align-items: center;

            #map {
                width: 100%;
                min-width: 300px;
            }

            #booking {
                width: 100%;
                min-width: 300px;
            }
        }
      }

    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        h1 {
            color: #6c8d3a;
        }

        h2 {
            color: #8b4230;
        }

        p {
            font-size: 1em;
        }

        input {
            background: orange;
            width: 90%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size:1em;
        }

            header {
                width: 100%;
                height: auto;
                background: orange;
                overflow: hidden;
                box-sizing: border-box;

                .logo {
                    width: 40%;
                }
            }

        .title-first-letter {
            font-size: 50px;
        }

        .slider-container {
            display: flex;
            flex-direction: column;
            align-content: center;
            position: relative;
            overflow: hidden;
            background-color: #fdfdfd;
            max-width: 596px;
            background: grey;
            margin: 5px;

            .slider-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 100%;
                position: relative;
                box-sizing: border-box;

                .slider-controllers {
                    display: flex;
                    flex-direction: row;

                    #button-play {
                        display: none;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        border: none;
                        background: orange;
                        color: #8b4230; 
                    }

                    #button-prev, #button-pause, #button-next {
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        border: none;
                        display: inline-block;
                        background: orange;
                        color: #8b4230; 
                    }
                }

                #slider-images img {
                    width:  100%;
                    height: auto;
                }
            }
        }

        #map-container {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            margin: 5px;
            
            #map {
                box-sizing: border-box;
                width: 100%;
                height: 1250px;
            }

            #booking-container {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                overflow: hidden;
                width: 100%;
                height: 1250px;
                background: #8b4230;

                #booking {
                    background:  orange;
                }

                #booking p {
                    font-size: 1.4em;
                    font-weight: 800;
                    margin: 2px;
                }

                #map-legend {
                    font-size: 20px;
                    margin: 50px;
                    color: black;
                    text-align: left;

                    .legend {
                        color: orange;
                        font-size: 25px;
                    }
                }

                .green, .orange, .red {
                    width: 30px;
                }

                #booking-closed {
                    display: none;
                    margin-left: 50px;
                    color: whitesmoke;
                    font-size: 1.4em;
                    font-weight: 800;
                }

                #form-booking label {
                   font-size: 20px;
                   color: whitesmoke;
                }

                #form-booking {
                    display: none;
                    flex-direction: column;
                    box-sizing: border-box;
                    align-items: center;

                    #lastname-error {
                        display: none;
                        background: #d16348;
                    }
    
                    #firstname-error {
                        display: none;
                        background: #d16348;
                    }
    
                    #signature {
                        background-color: orange;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        margin: 10px 0 10px 0;
                    }

                    #form-submit {
                        display: none;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        border: none;
                        background: orange;
                        color: #8b4230; 
                        font-size: 1em;
                    }
                }

                #booking-message {
                    display: flex;
                    margin: 10px;
                    background: #d16348;
                    font-size: 1.2em;
                    font-weight: 800;
                }
            }
        }
    }
}