body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
  font-family: "Baloo Paaji 2", cursive, "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@media screen and (max-width: 600px) {
  body #map-container {
    flex-direction: column;
    align-items: center;
  }
  body #map-container #map {
    width: 100%;
    min-width: 300px;
  }
  body #map-container #booking {
    width: 100%;
    min-width: 300px;
  }
}
body #app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
body #app h1 {
  color: #6c8d3a;
}
body #app h2 {
  color: #8b4230;
}
body #app p {
  font-size: 1em;
}
body #app input {
  background: orange;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}
body #app header {
  width: 100%;
  height: auto;
  background: orange;
  overflow: hidden;
  box-sizing: border-box;
}
body #app header .logo {
  width: 40%;
}
body #app .title-first-letter {
  font-size: 50px;
}
body #app .slider-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-color: #fdfdfd;
  max-width: 596px;
  background: grey;
  margin: 5px;
}
body #app .slider-container .slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
}
body #app .slider-container .slider-content .slider-controllers {
  display: flex;
  flex-direction: row;
}
body #app .slider-container .slider-content .slider-controllers #button-play {
  display: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: orange;
  color: #8b4230;
}
body #app .slider-container .slider-content .slider-controllers #button-prev, body #app .slider-container .slider-content .slider-controllers #button-pause, body #app .slider-container .slider-content .slider-controllers #button-next {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  background: orange;
  color: #8b4230;
}
body #app .slider-container .slider-content #slider-images img {
  width: 100%;
  height: auto;
}
body #app #map-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
}
body #app #map-container #map {
  box-sizing: border-box;
  width: 100%;
  height: 1250px;
}
body #app #map-container #booking-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 1250px;
  background: #8b4230;
}
body #app #map-container #booking-container #booking {
  background: orange;
}
body #app #map-container #booking-container #booking p {
  font-size: 1.4em;
  font-weight: 800;
  margin: 2px;
}
body #app #map-container #booking-container #map-legend {
  font-size: 20px;
  margin: 50px;
  color: black;
  text-align: left;
}
body #app #map-container #booking-container #map-legend .legend {
  color: orange;
  font-size: 25px;
}
body #app #map-container #booking-container .green, body #app #map-container #booking-container .orange, body #app #map-container #booking-container .red {
  width: 30px;
}
body #app #map-container #booking-container #booking-closed {
  display: none;
  margin-left: 50px;
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 800;
}
body #app #map-container #booking-container #form-booking label {
  font-size: 20px;
  color: whitesmoke;
}
body #app #map-container #booking-container #form-booking {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
body #app #map-container #booking-container #form-booking #lastname-error {
  display: none;
  background: #d16348;
}
body #app #map-container #booking-container #form-booking #firstname-error {
  display: none;
  background: #d16348;
}
body #app #map-container #booking-container #form-booking #signature {
  background-color: orange;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0 10px 0;
}
body #app #map-container #booking-container #form-booking #form-submit {
  display: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: orange;
  color: #8b4230;
  font-size: 1em;
}
body #app #map-container #booking-container #booking-message {
  display: flex;
  margin: 10px;
  background: #d16348;
  font-size: 1.2em;
  font-weight: 800;
}

/*# sourceMappingURL=style.css.map */
